<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello world</h1>
<form id="message-form">
  <input type="text" name="message" palceholder="message">
  <button type="button" id="msg-btn">Submit</button>
</form>















    <script src="/socket.io/socket.io.js" ></script>
    <%- include('partials/ind.ejs'); %>







  </body>
</html>
